.allEnterLink{
    padding: 100px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .allEnterLink_title{
        margin-top: 50px;
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }
    .allEnterLink_text{
        font-size: 22px;
        margin-top: 15px;
        font-family: "Montserrat", sans-serif;
    }
    .allEnterLink_btn{
        margin-top: 25px;
        color: #101820;
        padding: 15px 20px;
        background-color: rgba(201, 191, 176, 0.427);
        border-radius: 15px;
        transition: background-color 0.5s;
        font-weight: 700;
        &:hover{
            color: rgb(50, 55, 59);
            background-color: rgba(147, 140, 129, 0.427);
    
        }
    }
    .allEnterLink_imgConteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            display: block;
        }
    }
}


@media screen and (max-width: 1050px) {
    .allEnterLink{
        padding: 50px 15px;
        grid-template-columns: 1fr;
        gap: 55px;
        text-align: center;
    }

}
@media screen and (max-width: 600px) {
    .allEnterLink{
        .allEnterLink_title{
            font-size: 35px;
            line-height: 40px;
        }
        .allEnterLink_text{
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 400px) {
    .allEnterLink{
        .allEnterLink_title{
            font-size: 22px;
            line-height: 30px;
        }
        .allEnterLink_text{
            font-size: 13px;
        }
    }
    
}